html{
    height: 100%;
}
body{
    background: linear-gradient(40deg, rgba(10, 10, 10, 0.695), rgba(0, 0, 0, 0.853));
    color: #fff;
    min-height: 100%;
}
a,
a:visited,
a:active {
  color: inherit;       /* hereda el color del padre */
  text-decoration: none; /* quita el subrayado */
}
header {
  display: flex;
  justify-content: space-between; 
  align-items: center;
  color: #fff;
  max-width: 70%;
  align-self: center;
  padding: 20px;
}
.contact-icons {
  display: flex;
  gap: 15px;
  font-size: 23px;
}
.contact-icons i {
    transition: 0.4s ease;
}
.contact-icons i:hover{
    font-size: 30px;
    color: rgb(55, 62, 128);
}
li{
    list-style: none
}
#forms{
    display: flex;
    justify-self: center;
    justify-content: center;
    justify-items: center;
    flex-direction: column;
    width: 400px;
    gap: 5px;
    color: #fff;
}
.add-button{
    width: 280px;
    align-self: center;
    background-color: #fff;
    transition: 0.7s ease;
    color: rgb(55, 62, 128);
    font-family:monospace;
    font-size: 16px;
}

.add-button:hover{
    width: 325px;
    padding: 2.5px;
    background-color: rgb(55, 62, 128);
    color: white;
}

small{
    font-family:Cambria
}
.buttons{
    width: 100px;
}
#delList{
    color: rgb(24, 203, 24);
    
}
.tachado{
    text-decoration: line-through;
    color: rgb(56, 181, 56);
}
.span{
    background-color: rgb(103, 103, 222);
    border-radius: 100%;
    width: fit-content;
    margin-left: 5px;
    font-size: 12px;
    
}
.listTitle{
    margin-top: 100px;
    text-align: center;
    color: rgb(196, 200, 255);

}
.task-space{
    height: 70%;
    color: #fff;
    text-align: center;
    display: flex;
    flex-direction: column;
}
.items-box{
    display: flex;
    align-self: center;
    border:2px solid #a4a1a1;
    box-shadow: rgba(255, 255, 255, 0.953);
    width: 600px;
    border-radius: 10px;
    text-align: center;
    background: rgba(255, 255, 255, 0.1);
    flex-direction: column;
    align-items: center;
    align-content: center;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    transition: width 0.5s cubic-bezier(.25, .8, .25, 1),
    box-shadow 0.3s cubic-bezier(.25, .8, .25, 1);
    backdrop-filter: blur(10px);          
    -webkit-backdrop-filter: blur(10px);
    
}
.items-box:hover{
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
    width: 620px;
}
.button-container{
    display: flex;
    flex-direction: row;
    gap: 5px;
    margin-bottom: 8px;
    padding: 0 60px 15px 60px;
    border-bottom: 2px solid #dbdbdbf6;
    border-bottom-left-radius: 2px;
    border-bottom-right-radius: 2px;
    
}
.buttons, li {
    animation: entering 0.7s;
}
.buttons:nth-child(even){
    background-color: rgb(183, 88, 83);
    transition: 0.5s ease;
}
.buttons:nth-child(odd){
    background-color: rgb(88, 189, 88);
    transition: 0.5s ease;
}
.buttons:nth-child(even):hover{
    background-color: #585454;
    color: #fff;
    border-color: rgb(183, 88, 83);
}
.buttons:nth-child(odd):hover{
    background-color: #585454;
    color: #fff;
    border-color: rgb(88, 189, 88);
}
#edit{
    margin-left: 10px;
}
#edit:hover{
    color: yellow;
    cursor: pointer;
}
.listTitleContainer > i{
    color: rgb(125, 182, 163);
    font-size: 20px;
    transition: 0.4s ease;
}
.listTitleContainer > i:hover{
    color: rgb(90, 216, 174);
    font-size: 22.5px;
    cursor: pointer;
}
.add-title.opac{
    animation: entering 0.9s;
}
@keyframes entering {
    from{opacity: 0;}
    to{opacity: 1;}
}
@media(max-width: 640px) {
    .items-box{
        width: 490px;
    }
}